<mat-form-field>
  <mat-select 
    placeholder="Przedmiot" 
    [(value)]="selected" 
    (selectionChange)="equipItem(selected);selected={}">
      <mat-option *ngFor="let item of equipments" [value]="item">
        {{ item.name }}
      </mat-option>
  </mat-select>
</mat-form-field>
  <label>{{equipPower}}</label>
<div *ngFor="let item of playerEquipment">
  <app-equipment-item 
  [item]="item" 
  (onBonusChange)="calculateItemScore()"
  (takeOf)="takeOfItem($event)"></app-equipment-item>
</div>

