<mat-card>
  <mat-card-header>
    <mat-card-title>{{player.name}} {{CurrentPower}}</mat-card-title>
    <mat-card-subtitle>Poziom: {{player.level}} Bonus: {{eqPower}} Rasa: {{raceBonus}}</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <div>
      <app-select-list
        [placeholder]="'Rasa'"
        [options]="heroRaces"
        [maxSelect]="2"
        (onSelect)="onRaceChange($event)">
      </app-select-list>
      <app-select-list
        [placeholder]="'Klasa'"
        [options]="heroClasses"
        [maxSelect]="2"
        (onSelect)="onClassChange($event)">
      </app-select-list>
    </div>
    <div>
        <app-equipment-list 
        (onBonusChange)="itemBonus($event)"
        [playerEquipment]="player.equipment"></app-equipment-list>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
    (click)="delete(player)">Usuń</button>
    <button mat-icon-button
    title="Zyskaj level"
    (click)="changeLevel(player,1)">
      <mat-icon aria-label="upgrade level">exposure_plus_1</mat-icon>
    </button>
    <button mat-icon-button
    title="Strać level"
    (click)="changeLevel(player,-1)">
      <mat-icon arial-label="downgrade level">exposure_neg_1</mat-icon>
    </button>
    <button mat-icon-button
    (click)="player.genre=!player.genre">
      <mat-icon aria-label="gender icon" *ngIf="player.genre" svgIcon="gender-male"></mat-icon>
      <mat-icon aria-label="gender icon" *ngIf="!player.genre" svgIcon="gender-female"></mat-icon>
    </button>
  </mat-card-actions>
  <!-- <img height="200" src="../../assets/content/mage.jpg"> -->
</mat-card>