<mat-form-field class="example-full-width">
    <input
        type="number"
        matInput 
        [readonly]="item.disable"
        [(ngModel)]="item.bonus"
        [placeholder]="item.name"
        (keyup)="bonusChange(item.bonus)">
</mat-form-field>
<button mat-icon-button
    (click)="changeItemBonus(1)"
    class="increment" 
    title="Wiecej mocy">
        <mat-icon aria-label="Increment">add</mat-icon>
</button>
<button mat-icon-button
    (click)="changeItemBonus(-1);"
    class="decrement" 
    title="Mniej mocy">
        <mat-icon aria-label="Decrement">remove</mat-icon>
</button>
<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
        (click)="disableItem(item)"
        class="disable">
        <mat-icon aria-label="Disable">{{item.disable? 'check_box_outline_blank' : 'check_box'}}</mat-icon>
        <span>{{item.disable? 'Załóż' : 'Zdejmij'}}</span>
    </button>
    <button mat-menu-item
        (click)="takeOfItem(item)"
        class="remove">
        <mat-icon aria-label="Delete">clear</mat-icon>
        <span>Usuń</span>
    </button>
  </mat-menu>
